<h4>{{ leyenda }} - {{ progreso }}</h4>

<div class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-primary" type='button' (click)="cambiarValor(-1)">
            <i class="mdi mdi-minus"></i>
        </button>
    </span>

    <input #txtProgress type="number" min='1' max='100' class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)">

    <span class="input-group-btn">
        <button class="btn btn-primary" type='button' (click)="cambiarValor(1)">
            <i class="mdi mdi-plus"></i>
        </button>
    </span>
</div>